.post-fanwall-wrapper {
  .header-part {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 880px;
    height: 52px;
    margin: 25px auto;
    padding: 0px 10px;

    .page-title {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #EFA058;
    }
  }

  .post-fanwall-main {
    box-sizing: border-box;
    display: flex;

    .scroll-bar {
      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        background-color: rgba(245, 195, 149, 0.1);
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background: rgba(245, 195, 149, 0.5);
        border-radius: 10px;
        transition: 0.2s;
        width: 12px;

        &:hover {
          background: #efa058;
        }
      }
    }

    .dare-post-fanwall-info {
      width: 370px;

      .dare-post-fanwall-main {
        width: 325px;
        margin: 20px auto 0px auto;

        .reward-name {
          font-style: normal;
          font-weight: 600;
          font-size: 22px;
          line-height: 26px;
          margin-bottom: 15px;
        }

        .post-video {
          position: relative;

          .delete-icon {
            position: absolute;
            right: 10px;
            top: 10px;
          }
        }

        .preview-video {
          position: relative;

          .letter-unable {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
          }

          .delete-icon {
            position: absolute;
            z-index: 5;
            top: 10px;
            right: 10px;
          }
        }
      }
    }

    @media (min-width: 880px) {
      max-width: 880px;
      margin: 0 auto;
      background: #ffffff;
      box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      padding: 40px;
      justify-content: space-between;

      .post-fanwall-videoCardDesktop {
        width: 370px;
        display: block;
      }

      .dare-post-fanwall-info {
        max-height: 560px;
        overflow-y: scroll;

        .preview-video {
          position: relative;

          .letter-unable {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
          }

          .delete-icon {
            position: absolute;
            z-index: 5;
            top: 10px;
            right: 10px;
          }
        }
      }
    }

    @media (max-width: 879px) {
      justify-content: center;

      .post-fanwall-videoCardDesktop {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .post-fanwall-wrapper {
    .header-part {
      margin: 15px auto;
    }
  }
}