.admin-dareme-detail-wrapper {
    box-sizing: border-box;
    margin: 0px 20px 40px 20px;
    position: relative;

    .scroll-bar {
        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background-color: rgba(245, 195, 149, 0.1);
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(245, 195, 149, 0.5);
            border-radius: 10px;
            transition: 0.2s;
            width: 12px;

            &:hover {
                background: #efa058;
            }
        }
    }

    .dareme-detail {
        width: 800px;
        margin: 0 auto;
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
        display: flex;
        padding: 40px;
        border-radius: 5px;
        justify-content: space-between;

        .dareme-detail-videocard {
            width: 370px;
            position: relative;

            .change-teaser-btn {
                left: 30px;
                bottom: 5px;
                position: absolute;
                width: 280px;
            }
        }

        .dareme-detail-info {
            width: 370px;

            .category-btn {
                margin-bottom: 15px;
                width: fit-content;
                position: relative;

                .drop-down-lists {
                    z-index: 10;
                    position: absolute;
                    width: 200px;
                    background: #54504e;
                    opacity: 0.9;
                    backdrop-filter: blur(6px);
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    transition: 0.3s;
                    padding: 0 10px;
                    overflow: hidden;

                    .list {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 20px;
                        text-align: center;
                        color: #ffffff;
                        padding: 10px 0;
                        width: 100%;
                        border-radius: 10px;
                        transition: 0.3s;
                        cursor: pointer;
                    }

                    .list:hover {
                        background-color: #efa058;
                    }
                }
            }

            .dare-options {
                width: 370px;
                height: 325px;
                overflow-y: scroll;

                .dare-option {
                    width: 100%;
                    margin-bottom: 5px;
                    display: flex;

                    .dare {
                        width: 340px;
                    }

                    .del-icon {
                        width: 30px;
                        margin-top: 27px;
                    }
                }
            }
        }
    }

    .visible-icon {
        position: absolute;
        right: 1px;
        top: 55px;
    }

    .save-button {
        position: absolute;
        right: 0px;
        bottom: 0px;
    }
}