.notification-history-wrapper {
    box-sizing: border-box;
    padding: 10px;
    position: relative;

    .navigation-button {
        position: absolute;
        display: flex;
    }

    .add-new-button {
        position: absolute;
        right: 10px;
    }

    .history-header {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #EFA058;
        margin: 10px;
    }

    .history-body {
        margin: 50px auto;

        table,
        tr,
        th,
        td {
            border-collapse: collapse;
            border: 0.25px solid #E1E0DF;
        }

        .history-data {
            width: 100%;

            .data-table {
                width: 100%;

                thead {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;
                    letter-spacing: 0.005em;
                    color: #000000;
                    height: 52px;
                    background-color: #F2B176;

                    tr {
                        text-align: left;

                        th {
                            padding: 0px 10px;
                        }
                    }
                }

                tbody {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;
                    letter-spacing: 0.005em;
                    color: #000000;

                    tr {
                        text-align: left;
                        height: 34px;
                        cursor: pointer;

                        td {
                            padding: 0px 15px;

                            .donuts-type {
                                display: flex;
                                align-items: center;
                            }

                            .receiver-profile {
                                margin: 0px auto;
                                width: 24px;
                                height: 24px;
                                border: 4px solid #EFA058;
                                border-radius: 5px;

                                &:hover {
                                    transform: scale(0.95);
                                }
                            }
                        }

                        &:hover {
                            background-color: rgb(240, 240, 240);
                        }
                    }
                }
            }
        }
    }
}