.creator-wrapper {
  width: 100%;
  max-width: 340px;
  margin: auto;

  @media (min-width: 880px) {
    max-width: 800px;
  }

  .sort-item {
    margin: 0px auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .sort-letter {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #EFA058;
    }

    .item {
      margin: 5px 5px;
    }
  }

  .creators {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .creator {
      margin: 5px auto;
    }
  }
}