.upload-video-top-wrapper {
  .header-part {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 880px;
    height: 52px;
    margin: 25px auto;
    padding: 0px 10px;

    .page-title {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #EFA058;
    }
  }

  .upload-Video-wrapper {
    width: 100%;
    position: relative;
    max-width: 340px;
    margin: auto;

    .subtitle {
      margin-top: 10px;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      color: #54504e;
      padding-bottom: 19px;
    }

    .upload-video-fill {
      position: relative;
      border: 0.5px solid #cecbca;
      border-radius: 0px;
      height: 457px;
      margin-bottom: 15px;

      .delete-icon {
        position: absolute;
        right: 12px;
        top: 11px;
        z-index: 1;
      }

      .play-icon {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        z-index: 1;
      }

      .camera-icon {
        width: 100%;
        height: 457px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .react-player-height {
        width: 100% !important;
        height: 100% !important;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        video {
          width: auto !important;
          height: 100% !important;
        }
      }

      .react-player-width {
        width: 100% !important;
        height: 100% !important;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        video {
          width: 100% !important;
          height: auto !important;
        }
      }
    }

    .choose-cover {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #059669;
      margin-bottom: 15px;
      cursor: pointer;
    }

    .upload-image-fill {
      border-top: 1px solid #BCB6A9;
      height: 79px;
      position: relative;
      display: flex;
      justify-content: left;
      align-items: center;
    }
  }
}

@media screen and (max-width: 680px) {
  .upload-video-top-wrapper {
    .header-part {
      margin: 15px auto;
    }
  }
}