.dareme-voters-wrapper {
  .header-part {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 880px;
    height: 52px;
    margin: 25px auto;
    padding: 0px 10px;

    .page-title {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #EFA058;
    }
  }

  .dareme-voters {
    box-sizing: border-box;
    display: flex;

    .dareme-voters-information {
      width: 370px;
      margin: 0 auto;

      .dare-options {
        width: 340px;
        margin: 0 auto;
        // overflow-y: scroll;

        .dare-option {
          margin: 5px 0px;
        }

        .vote-details {
          padding: 0px 5px;

          .vote-info {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .donuts-count {
              display: flex;
              align-items: center;

              span {
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                color: #54504E;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .dareme-voters-wrapper {
    .header-part {
      margin: 15px auto;
    }
  }
}