.donut-wish-main-wrapper {
  .header-part {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 880px;
    height: 52px;
    margin: 25px auto;
    padding: 0px 10px;

    .page-title {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #EFA058;
    }
  }

  .donut-wish-wrapper {
    box-sizing: border-box;
    display: flex;

    .avatar-option {
      width: 350px;
      padding: 20px 15px;
      box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);

      .avatar {
        margin-bottom: 20px;
      }

      .funding-goal {
        margin-top: 5px;
        margin-bottom: 15px;

        .title {
          margin-left: 15px;
          display: flex;
          align-items: center;
          font-family: 'Lato';
          font-style: normal;
          font-weight: 800;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: 0.02em;
          color: #EFA058;
        }

        .process-bar {
          margin: 15px auto;
          position: relative;
          width: 330px;
          height: 13px;
          background: #C4C4C4;

          .process-value {
            position: absolute;
            height: 13px;
            top: 0px;
            left: 0px;
            background-image: linear-gradient(to right, #dd4d71 30%, #e48c3c, );
          }
        }

        .donuts-count {
          margin-left: 20px;
          font-family: 'Lato';
          font-style: normal;
          font-weight: 600;
          font-size: 22px;
          line-height: 26px;
          color: #000000;

          .over-donuts {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 800;
            font-size: 40px;
            line-height: 28px;
            color: #EFA058;
          }
        }
      }
    }

    .donuts-send {
      width: 350px;
      display: flex;
      flex-direction: column;
      vertical-align: center;

      .top-letter {
        margin: 30px auto 15px auto;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 800;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #54504E;
      }

      .donuts-number {
        margin: 20px auto;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        .letter {
          margin-right: 25px;
          font-family: 'Lato';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 0.05em;
          color: #000000;
        }
      }
    }

    @media (min-width: 880px) {
      justify-content: space-between;
      max-width: 880px;
      margin: 50px auto;
      background: #ffffff;
      box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      padding: 60px 40px;

      .donuts-send {
        margin-top: 25px;
      }
    }

    @media (max-width: 879px) {
      flex-direction: column;

      .avatar-option {
        margin: 0px auto;
      }

      .donuts-send {
        margin: 0px auto;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .donut-wish-main-wrapper {
    .header-part {
      margin: 15px auto;
    }
  }
}