.game-on-main-wrapper {
  .header-part {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 880px;
    height: 52px;
    margin: 25px auto;
    padding: 0px 10px;

    .page-title {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #EFA058;
    }
  }

  .game-on-wrapper {
    box-sizing: border-box;
    display: flex;

    .game-on-info {
      width: 370px;

      .game-on-details {
        width: 340px;
        margin: 0px auto;

        .avatars {
          width: 220px;
          margin: 20px auto 0px auto;
          height: 120px;
          position: relative;

          .owner-avatar {
            position: absolute;
            z-index: 10;
          }

          .user-avatar {
            position: absolute;
            right: 0px;
          }
        }

        .dare-option-detail {
          margin: 20px auto 0px auto;
          width: 330px;
        }

        .game-on-description {
          width: 320px;
          margin: 20px auto 0px auto;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          color: #54504E;
        }

        .dare-copylink-btn {
          margin: 10px auto 0px auto;
          width: 200px;
        }

        .social-icon {
          display: flex;
          justify-content: center;
          margin-top: 18px;

          .link {
            padding: 0px 10px;
          }
        }

        .dare-category-btn {
          margin: 20px auto 0px auto;
          width: 330px;
        }
      }
    }

    @media (min-width: 880px) {
      max-width: 880px;
      margin: 0 auto;
      background: #ffffff;
      box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      padding: 40px;
      justify-content: space-between;

      .game-on-videoCardDesktop {
        width: 370px;
        display: block;
      }

    }

    @media (max-width: 879px) {
      justify-content: center;

      .game-on-videoCardDesktop {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .game-on-main-wrapper {
    .header-part {
      margin: 15px auto;
    }
  }
}