.fundme-target-wrapper {
  box-sizing: border-box;
  width: 350px;
  height: 620px;
  background: #FFFFFF;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
  padding: 40px 10px;

  .header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #54504E;
  }

  .fundme-target-part {
    margin-top: 30px;

    .chart-bar {
      position: relative;
      margin: 20px auto;
      padding: 20px 0px;
      width: 200px;
      height: 200px;

      .back-circle {
        width: 200px;
        height: 200px;
        opacity: .5;
        background-image: linear-gradient(to right, #dd4d71 0%, #e48c3c 30%);
        border-radius: 50%;
      }

      .current-bar {
        position: absolute;
        top: 20px;
        width: 200px;
        height: 200px;
        z-index: 1;
        clip-path: inset(150px 0px 0px 0px);
        background-image: linear-gradient(to right, #dd4d71 0%, #e48c3c 30%);
        border-radius: 50%;
      }

      .white-part {
        z-index: 2;
        position: absolute;
        width: 60px;
        height: 60px;
        top: 90px;
        left: 70px;
        background-color: white;
        border-radius: 50%;
      }

      .white-part-hori-rect {
        z-index: 2;
        position: absolute;
        width: 20px;
        height: 200px;
        top: 20px;
        left: 90px;
        background-color: white;
      }

      .white-part-hori-rect1 {
        z-index: 2;
        position: absolute;
        width: 120px;
        height: 20px;
        top: 110px;
        left: 90px;
        background-color: white;
      }
    }

    .funding-goal {
      max-width: 300px;
      margin: 20px auto;
      padding: 10px;
      box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
      border-radius: 10px;

      .title {
        margin-left: 15px;
        display: flex;
        align-items: center;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #EFA058;
      }

      .process-bar {
        margin: 15px auto;
        position: relative;
        width: 90%;
        height: 13px;
        background: #C4C4C4;

        .process-value {
          position: absolute;
          height: 13px;
          top: 0px;
          left: 0px;
          background-image: linear-gradient(to right, #dd4d71 30%, #e48c3c, );
        }
      }

      .donuts-count {
        margin-left: 20px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        color: #000000;

        .over-donuts {
          font-family: 'Lato';
          font-style: normal;
          font-weight: 800;
          font-size: 40px;
          line-height: 28px;
          color: #EFA058;
        }
      }
    }
  }
}